@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/*
Pallete

GREEN rgb(95, 197, 178)
BLUE rgb(72, 96, 164)
RED rgb(235, 107, 129)
YELLOw rgb(221, 176, 51)
*/

html {
  font-size: 1rem;
}
/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
*/
.main, .container {
  width: 100vw;
  height: 100vh;
}
.logo span {
  font: 400 1.4rem 'Source Sans Pro' ;
}
.fa-code-branch {
  color: rgb(235, 107, 129);
}

.git-img {
  width: 70vw;
  height: 40vh;
  background-color: rgba(50,50,50,0);
  border: 0px solid rgba(222,222,222,1);
  border-radius: 100%;
  box-shadow: 4px 4px 15px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.git-main-text {
  font-family: 'Source Sans Pro';
  color: rgba(70,70,70,1);
}

.git-main-text i {
  color: rgb(95, 197, 178);
}

.git-main-text .git-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.git-main-text .git-search input{
  border-radius: 60px;
  text-indent: 20px;
  height: 40px;
  outline: none;
  border: 0px solid transparent;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}
