@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');


/*
Pallete

GREEN rgb(95, 197, 178)
BLUE rgb(72, 96, 164)
RED rgb(235, 107, 129)
YELLOw rgb(221, 176, 51)
*/

html {
  font-size: 0.8rem;
  overflow: hidden;
}
/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
*/
.main, .container-fluid {
  width: 100vw;
  height: 100vh;
}
.header {
  height: 8rem;
}
.logo span {
  font: 400 1.4rem 'Source Sans Pro';
}

.fa-logo {
  color: rgb(235, 107, 129);
}

.fa-bars {
  position: relative;
  z-index: 2;
}

.nav-dev {
  position: absolute;
  top: -6vh;
  right: 0rem;
  width: 0vw;
  color: rgba(70,70,70,1);
  background: rgba(255,255,255,1);
  box-shadow: -3px 4px 10px rgba(0,0,0,0.1);
  transition: all 0.4s linear;
  z-index: 1;
}

.nav-dev li {
  margin-top: 2vh;
  margin-right: 10vw;
}

.nav-dev-toggle {
  width: 40vw;
}

.git-img {
  width: 67vw;
  height: 36vh;
  background-color: rgba(50,50,50,0);
  border: 5px solid rgba(255,255,255,1);
  border-radius: 100%;
  box-shadow: 4px 4px 15px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.git-main-text {
  font-family: 'Source Sans Pro';
  color: rgba(70,70,70,1);
}

.git-main-text i {
  color: rgb(95, 197, 178);
}

.git-main-text .git-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.git-main-text .git-search input{
  border-radius: 60px;
  text-indent: 20px;
  height: 40px;
  outline: none;
  border: 0px solid transparent;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}

.lang-ul .list-inline-item {
  font: 700 0.9rem 'Source Sans Pro';
  color: rgb(80,80,80);
}

.lang-ul .badge {
  margin-right: ;
  background-color: rgb(72, 96, 164);
  color: rgb(255,255,255);
}

@media only screen 
  and (min-device-width: 375px) 
  and (orientation: landscape) {
    .git-img {
      width: 29vw;
      height: 57vh;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
    .git-img {
      width: 37.5vw;
      height: 50vh;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    html {
      font-size: 1rem;
    }
    .git-img {
      width: 70vw;
      height: 52.5vh;
    }
}

@media screen 
  and (min-device-width: 1200px) {
    html {
      font-size: 1rem;
    }
    .git-img {
      width: 29vw;
      height: 57vh;
    }
}

/*
IPAD pro
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    .git-img {
      width: 46vw;
      height: 60vh;
    }
}
*/
