body {
  background: rgb(15,15,15);
}
.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5% 0 0 0.5%;
  width: 99vw;
  height: 98vh;
  background: rgba(15,15,15,0);  
}

.pattern{
  grid-area: 1 / 1 / 4 / 4;
  margin-top: 0%;
  margin-left: 0%;
  place-self: start start;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.pattern__block {
  width: 4vw;
  height: 4vw;
  border: 1px solid rgba(86,84,87,0.02);
  color: rgba(255,255,255,0);
}

/* 
  --- HEADER ---- 
*/


.header {
  background-color: rgba(23,23,23,1);
  display: grid;
  grid-template: 1fr / 3fr 1fr;
  width: 100%;
  height: 8%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  z-index: 2;
}

.header__logotype {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: -1.5%;
  transform: scale(0.6);
}

.logotype__text {
  color: rgb(200,200,200);
  font: normal 2.7rem 'aileronsregular';
  letter-spacing: 0.1rem;
}

.logotype__year {
  margin: -3px 5px 0 0;
  background: rgb(0, 101, 98);
  color: rgba(5,5,5,1);
  font-size: 1.2rem;
  transform: rotate(-90deg);
  width: 29px;
  height: 23px;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
}

.header__menu {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center center;
  margin-left: -40%;
  display: flex;
  color: rgba(200, 200, 200, 1);
  font-size: 1rem;
  background:;
}

.header__menu h1 {
  margin: 0 8% 0 8%;
  cursor: pointer;
}

.header__search {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center end;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 55%;
  background: rgb(30,30,30);
  border-radius: 30px;
}

.search__name {
  margin: 0 8px 0 8px;
  width: 70%;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  color: rgba(150,150,150,1);
  text-align: left;
  background: rgb(0,0,0,0);
  border: none;
  outline: none;
  opacity: 1;
  z-index: 2;
}

.search__name::placeholder{
  color: rgba(60,60,60,1);
}

.user__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 2px solid rgba(100,100,100,1);
  background: rgba(140,140,140,0);
  border-radius: 100%;
  transform: scale(0.8);
  cursor: pointer;
  border: none;
  outline: none;
  animation: fades 2s alternate infinite; 
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%; 
  border-radius: 100%;
  background: rgba(200,200,200,0);
  color: rgb(200,200,200);
  font-size: 1.2rem;
  display: ;
}

@keyframes fade {
  0% {background: rgb(20,20,20)}
  70% {background: rgb(200,200,200)}
  100% {background: rgb(200,200,200)}
}


.menu__separator {
  margin: 0 11px 0 5px;
  width: 1px;
  height: 20px;
  background: rgba(200,200,200,0);
}

.menu__img {
  margin-top: 2px;
  font-size: 1.5rem;
  transform: scaleX(1.2);
}

/*1fr 1fr / 1fr 1fr 1fr*/

.header__user {
  grid-area: 1 / 2 / 2 / 3; 
  margin-right: 4%;
  place-self: center end;  
  display: flex;
  align-items: center;
  background: rgba(211,11,11,0);  
}

.header__user:hover .user__expanded {
  top: 8.8%;
  visibility: visible;
  opacity: 1;
}

.user__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(45,45,45);
}

.img__alt {
  color: rgb(200,200,200);
  font-size: 1rem;
}

.row__avatar {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.row__value {
  font-size: 1rem;
  color: rgba(200,200,200,1);
  margin: 0 15px 0 15px;
}

.user__expand {
  color: rgb(200,200,200)
}

.user__expanded{
  position: absolute;
  top: 6.8%;
  right: 0.5%;
  width: 15%;
  height: 17%;
  color: rgb(100,100,100);
  background: rgb(23,23,23);
  box-shadow: -2px 6px 5px rgba(0,0,0,0.2);
  text-align: right;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  transition: all 0.3s linear;
  z-index: 130;  
}

.user__expanded h2 {
  margin: 0px 5px 0 0;
}

.user__expanded i {
  margin: 0 8px 0 12px;
  color: rgb(180,180,180)
}
/*

  --- CONTENT ---

*/

.content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 92%;
  background: rgba(20,20,20,0);
  z-index: 1;
}

.section__team {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
  display: none;
}

.team__area {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  background: rgba(8,8,8,1);
}

.close__team {
  position: absolute;
  top: 13%;
  right: 7.6%;
  font-size: 2rem;
  color: rgb(200,200,200);
  cursor: pointer;
}

.team__area-title {
  align-self: flex-start;
  margin: 0 0 2% 5%;
  font-size: 2rem;
  color: rgb(180,180,180);
}

.team__area-title2 {
  align-self: flex-start;
  margin: 0 0 2% 5%;
  font-size: 1.6rem;
  color: rgb(0, 101, 98);
}

.area__datas {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 70%;
  background: rgba(18,8,8,0);
}

.datas__profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 27%;
  height: 100%;
  background: rgba(8,18,8,0);
  color: rgb(200,200,200);
}

.profile__img {
  width: 325px;
  filter: grayscale(1)
  opacity(0.5)
}

.profile__name {
  margin: 15px 0 15px 0;
  font-size: 2rem;
  text-transform: capitalize;
}

.profile__bio {
  font-size: 1rem;
  color: rgb(120,120,120);
  text-align: justify;
}

.profile__social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10%;
  font-size: 1.6rem;
  color: rgb(120,120,120);
}

.profile__social .fa-linkedin {
  margin: 0 20px 0 20px;
}

/*
    content lang 1fr / 2fr 1fr
*/

.content__mid {
  height: 55%;
  background: rgba(19,19,19,0);
}

.row {
  margin-top: 1%;
  display: flex;
  width: 100%;
}

.mid__lang {
  display: grid;
  grid-template: 1fr 7fr / 1fr 1fr;
  width: 55%;
  height: 100%;
  background: rgba(19,19,19);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.section__header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgb(23,23,23);
  color: rgb(180,180,180);
}

.header__title {
  margin-left: 2.7%;
  color: rgb(100,100,100);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.header__title span {
  color: rgb(180,180,180);
  font-weight: 600;
}

.header__circle {
  margin-left: 10px;
  width: 6px;
  height: 6px;
  background: rgb(0, 101, 98);
  box-shadow: 0 0 9px rgb(0, 101, 98);
  border-radius: 100%;
}

.header__nav {
  margin: 0 2.7% 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart__view {
  margin: 0 0px 0 15px;
}

.lang__area {
  grid-area: 2 / 1 / 3 / 3;
  place-self: center center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 98%;
  height: 97%;
  background: rgba(150,15,15,0);
}

.area__separator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0%;
  height: 100%;
  color: rgba(70,70,70,1);
  font-size: 0.9rem;
}

.separator__dash {
  margin-bottom: 6px;
  width: 1px;
  height: 93%;
  background: rgba(28,28,28,1);
}

.d-hide {
  opacity: 0;
}

.lang__title {
  margin: 0 0 3% 0%;
  color: rgba(200, 200, 200, 0);
  font-size: 1.5rem;
  display:none;
}

.lang__graph {
  grid-area: 2 / 1 / 3 / 3;
  place-self: center start;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0% 0 1.5% 0.8%;
  width: 98.3%;
  height: 90%;
  background: rgba(26,6,6,0);
}

.graph__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background: rgb(40,40,40,0);
}

.item__circle {
  margin-right: 8px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: rgb(0, 101, 98);
  box-shadow: 0 0 9px rgb(0, 101, 98);
}

.item__circle2 {
  margin-left: 8px;
  margin-right: 0px;
}

.item__name {
  text-align: center;
  width: 55px;
  height: 23px;
  font-size: 0.7rem;
  color: rgba(200,200,200,1);
  background: rgba(25,25,25,1);
  text-transform: uppercase;
  line-height: 25px;
  vertical-align: middle;
  border-radius: 5px;
  z-index: 2;
}

.lang__rank {
  display: grid;
  grid-template: 1fr 7fr / 1fr 1fr;
  margin-left: 1%;
  width: 44%;
  height: 100%;
  background: rgba(19,19,19);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 20;
}

.loader {
  grid-area: 2 / 1 / 3 / 3;
  place-self: center center;
  width: 60px;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: rgb(200,200,200);
}

.loader__gif {
  width: 50%;
  margin-bottom: 10px;
}

.rank__area {
  display: flex;
  grid-area: 2 / 1 / 3 / 3;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 2%;
  margin-left: 2.5%;
  width: 96%;
  height: 92%;
  background: rgba(40,40,40,0);
  color: rgb(180,180,180);
}

.area__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 25px;
  background: rgb(51, 13, 85,0);
}

.area__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  /*align-items: center;*/
  background: rgba(51, 13, 85, 0);
  height: 90%;
}

.area__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__title {
  width: 24.5%;
  text-align: center;
  font-size: 1rem;
  margin: 0 15% 2px 0%;
}

.list__item {
  font-size: 1rem;
  color: rgb(130,130,130);
  width: 24%;
  text-align: center;
  background: rgba(40,40,40,0);
  margin: 0 15% 0 0%;
}

.list__item2 {
  font-size: 1rem;
  color: rgb(0, 101, 98);
  width: 24%;
  text-align: center;
  background: rgba(40,40,40,0);
  margin: 0 15% 0 0%;
}

.lang__percent {
  margin-right: 1%;
}

.content__bottom {
  height: 42%;
  background: rgba(19,19,19,0);
}

.bottom__lang {
  display: grid;
  grid-template: 1fr 7fr / 1fr 1fr;
  width: 35%;
  height: 100%;
  background: rgba(19,19,19);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.lang__area2 {
  display: flex;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
  width: 96%;
  height: 92%;
  background: rgba(40,40,40,0);
  color: rgb(180,180,180);
}

.area2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.area2__dash {
  width: 1px;
  height: 60%;
  background: rgba(50,50,50);
}

.area2__title {
  color: rgb(70,70,70);
  font-size: 1.5rem;
}

.area2__text {
  color: rgb(150,150,150);
  font-size: 6rem;
}

.number__text {
  color: rgb(0, 101, 98);
}

.bottom__repos {
  display: grid;
  grid-template: 1fr 7fr / 1fr 1fr;
  margin: 0 1% 0 1%;
  width: 28%;
  height: 100%;
  background: rgba(19,19,19);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.repos__area {
  display: grid;
  grid-template: 4fr 1fr / 1fr 1fr;
  grid-area: 2 / 1 / 3 / 3;
  margin-top: 2%;
  margin-left: 2%;
  width: 96%;
  height: 92%;
  background: rgba(40,40,40,0);
  color: rgb(180,180,180);
}

.area__img {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: ;
}

.area__total {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: ;
}

.total__title {
  font-size: 3rem;
  margin-bottom: 5px;
}

.total__txt {
  color: rgb(111,111,111)
}

.area__img img {
  width: 34%;
  height: 100%;
  animation: spins 50s infinite;
}

.area__numbers {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: ;
}

.nrow {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nc {
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgb(0, 101, 98);
  box-shadow: 0 0 11px rgb(0, 101, 98);
}

@keyframes spin {
  from {transform: rotate(0)}
  to {transform: rotate(180deg)}
}

.bottom__drm {
  display: grid;
  grid-template: 1fr 7fr / 1fr 1fr;
  width: 35%;
  height: 100%;
  background: rgba(19,19,19);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.drm__area {
  display: flex;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 2%;
  margin-left: 2%;
  width: 96%;
  height: 92%;
  background: rgba(40,40,40,0);
  color: rgb(180,180,180);
}

.area__title {
  margin-right: auto;
  margin-left: 3.6%;
  font-size: 1.6rem;
}

.area__text {
  margin: 0 20px 0 20px;
  font-size: 1.1rem;
  color: rgb(120,120,120);
  line-height: 1.6rem;
  text-align: justify;
}

.drm__btn {
  margin-right: auto;
  margin-left: 4%;
  width: 22%;
  height: 13%;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(10,10,10);
  background: rgb(0, 101, 98);
  box-shadow: 0 0 11px rgb(0,0,0,0.2);
  border: none;
  outline: none;
}

.content__roadmap {
  grid-area: 1 / 1 / 2 / 4;
  place-self: center end;
  display: none;
  grid-template: 1fr / 1fr;
  width: 50%;
  height: 100%;
  background: rgba(9,9,9,0);  
}

.roadmap__area {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center end;
  margin: 0% 7.5% 0% 0%;
  width: 90%;
  background: rgba(150,15,15,0);
}

.roadmap__title {
  width: 100%;
  text-align: right;
  margin: 0 0 4% 0%;
  color: rgba(200, 200, 200, 0);
  font-size: 1.5rem;
  display:none;
}

.roadmap__graph-bg {
  width: 100%;
  opacity: 0.3;
}

.roadmap__form {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start start;
  display: grid;
  grid-template: 1fr / 7fr 1fr 7fr;
  align-items: center;
  justify-content: center;
  margin: 1.4% 0 0 2.7%;
  width: 90%;
  height: 96%;
  background: rgba(26,6,6,0);
  color: white;
  display: ;
  z-index: 2;
}

.form__fieldset {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center center;
  /*display: flex;*/
  display: none;
  flex-flow: column nowrap;
  background: rgba(12,12,12,0);
}

.fieldset__basic-html {
  display: flex;
}

/* The container */
.fieldset__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 28px 0 28px 0;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.fieldset__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label__title {
  margin: 0 -10px 0 20px;
  width: ;
  background: ;
}

/* Create a custom checkbox */
.checkmark {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  transition: all 0.4s linear;
}

.recommended {
  background: rgb(200, 134, 0);
}

.available {
  background: rgb(70, 56, 15);
}

/* On mouse-over, add a grey background color */
.fieldset__label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.fieldset__label input:checked ~ .checkmark {
  /*background-color: rgb(5,5,5);*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: all 0.4s linear;
}

/* Show the checkmark when checked */
.fieldset__label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.fieldset__label .checkmark:after {
  margin: 3px 0 0 7px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) scale(0.8);
}


.fieldset__legends {
  grid-area: 1 / 2 / 2 / 4;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(12,12,12,0);
}

.fieldset__legends1 {
  display: flex;
}

.fieldset__legends2 {
  display: none;
}

.fieldset__legends3 {
  display: none;
}

.legends__row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 30px 0 30px 0px;
}

.row__circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  border: 2px solid rgba(100,100,100,0);
  background: rgb(60,60,60);
  display: none
}

.row__title {
  font-size: 0.9rem;
  color: rgb(200,200,200);
  margin-right: 20px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  background: rgba(0,0,0,0);
}

.circle1 {
  margin-left: -2px;
  background: white;
  width: 10px;
  height: 10px;
}

.legends__basic-html .row__circle {
  background: rgb(255,255,255);
}
.row__title span {
  font-size: 0.8rem;
  color: rgb(100,100,100);
}

.row__category {
  font-size: 0.7rem;
  color: rgb(200,200,200);
  text-align: right;
  line-height: 180%;
  width: 8%;  
  border-bottom: 0px solid rgb(200, 134, 0);
}

/*
  --- FOOTER ---
*/

.footer {
  display: grid;
  grid-area: 3 / 1 / 4 / 4;
  background: rgba(9,9,9,0);
  grid-template: 1fr / 3fr 1fr 3fr;
  justify-self: center;
  margin-left: 0.4%;
  width: 92.4%;
}

.home__scrolltip {
  grid-area: 1 / 2 / 2 / 3;
  place-self: center center;
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  background:;
  height: 100%;
  display: none;
}

.scroll__text {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center center;
  color: rgb(200,200,200);
  font-size: 0.8rem;
  background: ;
}

.scrolltip__area {
  grid-area: 2 / 1 / 3 / 2;
  place-self: start center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: ;
}

.scrolltip__mouse {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 3px;
  width: 18px;
  height: 28px;
  border-radius: 50px;
  background: rgba(90,90,90,1);
  animation: updown 1000ms alternate infinite;
  animation-timing-function: linear;
}

.mouse__wheel {
  margin-top: 6px;
  width: 2px;
  height: 4px;
  background: rgb(0,0,0);
}

.mouse__arrow {
  grid-area: 2 / 1 / 3 / 2;
  place-self: center center;
  color: rgb(90,90,90);
  transform: scaleX(1.5);
}

@keyframes updown {
  from {margin-top: 0px; opacity: 1;}
  to {margin-top: 15px; opacity: 1;}
}

.footer__github {
  grid-area: 1 / 1 / 2 / 2;
  place-self:end start;
  margin-left: 15%;
  color: rgb(150,150,150);
  font-size: 2rem;
  display: none;
}

.hide {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}