.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr 1fr / 1fr 1fr 1fr;
  background: linear-gradient(to right, rgb(3,3,3), rgb(8,8,8),rgb(3,3,3));
  
}

.leftbar {
  position: absolute;
  top: 2%;
  left: 1%;
  height: 96%;
  opacity: 0.2;
}

.rightbar {
  position: absolute;
  top: 2%;
  right: 1%;
  height: 96%;
  opacity: 0.2;
  transform: rotate(180deg);
}

.pattern{
  grid-area: 1 / 1 / 4 / 4;
  margin-top: 0%;
  margin-left: 0%;
  place-self: start start;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.pattern__block {
  width: 4vw;
  height: 4vw;
  border: 1px solid rgba(86,84,87,0.02);
  color: rgba(255,255,255,0);
}

/* 
  --- HEADER ---- 
*/


.header {
  grid-area: 1 / 1 / 2 / 4;
  background-color: rgba(9,9,9,0);
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  margin-left: 0.6%;
  margin-top: 2%;
  width: 92.2%;
  height: 85%;
  justify-self: center;
  align-self: center;
  border-bottom: 0px solid rgb(100,100,100);
  display: none;
}

.header__logotype {
  grid-area: 1 / 2 / 2 / 3;
  place-self: center center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
}

.logotype__text {
  color: rgb(200,200,200);
  font: lighter 3rem 'aileronsregular';
  letter-spacing: 1.5rem;
}

.logotype__year {
  background: rgba(200, 134, 0, 1);
  color: rgba(5,5,5, 1);
  font: bolder 0.7rem 'aileronsregular';
  letter-spacing: 0.1rem;
  transform: rotate(-90deg);
  width: 32px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
}

.user__search {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(100,100,100);
  border-radius: 100%;
  transform: scale(0.9); 
  display:none;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%; 
  border-radius: 100%;
  background: rgb(200,200,200);
  color: rgb(200,200,200);
  font-size: 0.8rem;
  border:none;
  outline: none;
  animation: fade 2s alternate infinite;
}

.search__name {
  grid-area: 2 / 2 / 3 / 3;
  place-self: center center;
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: rgba(150,150,150,1);
  text-align: center;
  background: rgb(0,0,0,0);
  border: none;
  outline: none;
  opacity: 1;
  z-index: 2;
}

.search__name::placeholder{
  color: rgba(60,60,60,1);
}

@keyframes fade {
  0% {background: rgb(20,20,20)}
  70% {background: rgb(200,200,200)}
  100% {background: rgb(200,200,200)}
}

.header__menu {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center start;
  display: flex;
  align-items: center;
 /* margin-left: 9%;*/
  color: rgba(200, 200, 200, 1);
  font-size: 1rem;
  /*border-left: 1px solid rgb(140,140,140);
  text-indent: 12px; */
}

.menu__img {
  margin: 0 20px 5px 0;
  font-size: 1.5rem;
  transform: scaleX(1.2);
}


/*1fr 1fr / 1fr 1fr 1fr*/

.header__user {
  grid-area: 1 / 3 / 3 / 4; 
  margin-right: 0%;  
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  background: rgba(211,11,11,0);  
}

.user__row {
  grid-area: 1 / 1 / 2 / 2; 
  place-self: end center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.row__value {
  font-size: 0.9rem;
  color: rgba(200,200,200,1);
  margin-right: 10px;
}

.row__avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  filter: grayscale(1);
  opacity:;
}

.user__row2 {
  grid-area: 1 / 1 / 3 / 2; 
  place-self: start end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row2__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 33px 0px 0 0;
  width: 13px;
  height: 13px;
  background: rgb(200, 134, 0);
  color: rgb(0,0,0);
  border-radius: 100%;
  transform: scale(1.1)
}

.footer__plus {
  grid-area: 2 / 1 / 3 / 2;
  place-self: center start;
  margin-top: 0px;
  display: ;
  color: rgb(200,200,200);
  font-size: 0.9rem;
}
.footer__plus2 {
  grid-area: 2 / 3 / 3 / 4;
  place-self: center end;
  margin-top: 0px;
  display: ;
  color: rgb(200,200,200);
  font-size: 0.9rem;
}

/*

  --- NAV ---

*/

/*2fr 18fr 2fr / 1fr 1fr 1fr; */

.nav {
  grid-area: 1 / 3 / 2 / 4;
  place-self: center end;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  margin-right: 14%;
  background: rgba(10,10,10,0);
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(14,14,14,0);
  margin: 13px 0 13px 0;
}

.item__title {
  color: rgba(200,200,200,1);
  background: rgba(90,90,90,0);
  font-size: 0.9rem;
  z-index: 1;
}

.item__sm-circle {
  margin-left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: rgba(200, 200, 200, 1);
  z-index: 1;
}

.item__dash {
  margin-right: 7px;
  width: 10px;
  height: 1px;
  background: rgba(200, 200, 200, 1);
  z-index: 1;
}

.item__lg-circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: rgba(200, 200, 200, 1);
  z-index: 1;
}
.active-circle {
  border-radius: 100%;
  border: 3px solid rgb(200, 134, 0);
  background: rgba(200, 200, 200, 0);
}
.opac {
  opacity: 0;
}

/*

  --- CONTENT ---

*/

.content {
  grid-area: 2 / 1 / 3 / 4;
  grid-template: 1fr / 1fr 2fr 1fr;
  display: grid;
  width: 100%;
  height: 100%;
  background: rgba(20,20,220,0)
}

.content__search {
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  height: 6%;
  background: rgba(30,30,30,0);
  display:none;
  z-index: 2;
}

.content__home {
  grid-area: 1 / 1 / 2 / 4;
  grid-template: 1fr 1fr 1fr / 1fr;
  place-items: center center;
  display: grid;  
  width: 100%;
  height: 100%;
  background: rgba(12,12,12,0);
}

.pat {
  position: absolute;
  top: 43.8%;
  left: 45.5%;
  width: 6%;
  opacity: 0;
  animation: rotationn 200s linear infinite;
  transform: scaleX(3.5);
  z-index: 0;
}

@keyframes rotation{
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}


.home__logotype {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start start;
  margin: -1% 0 0 3.4%;
  display: none;
  z-index: 1;
}

.home__logotype h1 {
  margin-left: 3.5%;
  color: rgb(200,200,200),0;
  font: lighter 1.5rem 'aileronsregular';
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.home__mid {
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  color: rgb(200,200,200);
  background: rgb(0,0,0,0);
}

.mid__desc {
  margin-top: 10%;
  text-align: center;
  line-height: 150%;
  width: 100%;
  font-size: 1rem;
  color: rgb(150,150,150);
}

.mid__drm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.drm__text {
  color: rgb(200,200,200);
  font: lighter 7.5rem 'aileronsregular';
  letter-spacing: 4rem;
}

.drm__year {
  background: rgba(200, 134, 0, 1);
  color: rgba(5,5,5, 1);
  font: bolder 1.5rem 'aileronsregular';
  letter-spacing: 0.2rem;
  transform: rotate(-90deg);
  width: 68px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

/*1fr 1fr 1fr / 1fr*/


.area__line {
  grid-area: 3 / 1 / 3 / 1;
  place-self: end end;
  margin: 0% 15.2% 4.1% 0;
  width: 8vw;
  height: 2vw;
  display: flex;
  place-content: flex-start;
  align-items: flex-end;
}

.line__left-top {
  width: 50%;
  height: 70%;
  border-left: 1px solid rgb(86,84,86);
  border-top: 1px solid rgb(86,84,86);  
}

.line__link{
  align-self: flex-start;
  margin: -1px 0 0 10px;
  color: rgba(200, 200, 200, 1);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.line__link span{
  color: rgb(90, 86, 18);
}

.desc {
  opacity: 0;
}
.home__desc {
  grid-area: 3 / 1 / 3 / 1;
  place-self: end end;
  margin: 0% 10% 0 0;
  width: 15%;
  color: rgb(100,100,100);
  font-size: 0.8rem;
  line-height: 150%;
  overflow: hidden;
  text-align: left;
}

.home__desc span {
  background-color: rgba(90, 86, 18,0);
  color: rgba(0,0,0,0)!important;
  font-weight: bolder!important;
}


/*

/* 
    2fr 18fr 1fr / 1fr 1fr 1fr
    1fr / 1fr 1fr
*/



/* stats - grid-template: 1fr / 1fr 3fr 1fr;
    content lang 1fr / 2fr 1fr
*/

.content__lang {
  grid-area: 1 / 1 / 2 / 4;
  display: none;
  grid-template: 1fr / 1fr;
  width: 50%;
  height: 100%;
  background: rgba(9,9,9,0);  
}

.lang__area {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center start;
  margin: 0% 0 0% 8%;
  width: 90%;
  background: rgba(150,15,15,0);
}

.lang__title {
  margin: 0 0 3% 0%;
  color: rgba(200, 200, 200, 0);
  font-size: 1.5rem;
  display:none;
}

.lang__graph-bg {
  width: 100%;
  opacity: 0.3;
}

.lang__graph {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center start;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0% 0 1.5% 8%;
  width: 90%;
  height: 60%;
  background: rgba(26,6,6,0);
}

.graph__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px 0 10px 0;
  width: 100%;
  background: rgb(40,40,40,0);
}

.item__name {
  text-align: left;
  width: 50px;
  font-size: 0.9rem;
  color: rgba(200,200,200,1);
  text-shadow: 0 0 10px rgba(0,0,0,1);
  z-index: 2;
}

.item__circle {
  margin-left: 90%;
  margin-right: 5px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: rgb(200, 134, 0);
  box-shadow: 0 0 9px rgba(200, 134, 0, 0);
}

.content__roadmap {
  grid-area: 1 / 1 / 2 / 4;
  place-self: center end;
  display: none;
  grid-template: 1fr / 1fr;
  width: 50%;
  height: 100%;
  background: rgba(9,9,9,0);  
}

.roadmap__area {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center end;
  margin: 0% 7.5% 0% 0%;
  width: 90%;
  background: rgba(150,15,15,0);
}

.roadmap__title {
  width: 100%;
  text-align: right;
  margin: 0 0 4% 0%;
  color: rgba(200, 200, 200, 0);
  font-size: 1.5rem;
  display:none;
}

.roadmap__graph-bg {
  width: 100%;
  opacity: 0.3;
}

.roadmap__form {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start start;
  display: grid;
  grid-template: 1fr / 7fr 1fr 7fr;
  align-items: center;
  justify-content: center;
  margin: 1.4% 0 0 2.7%;
  width: 90%;
  height: 96%;
  background: rgba(26,6,6,0);
  color: white;
  display: ;
  z-index: 2;
}

.form__fieldset {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center center;
  /*display: flex;*/
  display: none;
  flex-flow: column nowrap;
  background: rgba(12,12,12,0);
}

.fieldset__basic-html {
  display: flex;
}

/* The container */
.fieldset__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 28px 0 28px 0;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.fieldset__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label__title {
  margin: 0 -10px 0 20px;
  width: ;
  background: ;
}

/* Create a custom checkbox */
.checkmark {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  transition: all 0.4s linear;
}

.recommended {
  background: rgb(200, 134, 0);
}

.available {
  background: rgb(70, 56, 15);
}

/* On mouse-over, add a grey background color */
.fieldset__label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.fieldset__label input:checked ~ .checkmark {
  /*background-color: rgb(5,5,5);*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: all 0.4s linear;
}

/* Show the checkmark when checked */
.fieldset__label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.fieldset__label .checkmark:after {
  margin: 3px 0 0 7px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) scale(0.8);
}


.fieldset__legends {
  grid-area: 1 / 2 / 2 / 4;
  flex-flow: column nowrap;
  justify-content: center;
  background: rgba(12,12,12,0);
}

.fieldset__legends1 {
  display: flex;
}

.fieldset__legends2 {
  display: none;
}

.fieldset__legends3 {
  display: none;
}

.legends__row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 20px 0 20px 13px;
}

.row__circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  border: 2px solid rgba(100,100,100,0);
  background: rgb(60,60,60)
}

.row__title {
  font-size: 0.9rem;
  color: rgb(200,200,200);
  margin-left: 40px;
  width: 70%;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: left;
  background: rgba(0,0,0,0);
}

.circle1 {
  margin-left: -2px;
  background: white;
  width: 10px;
  height: 10px;
}

.legends__basic-html .row__circle {
  background: rgb(255,255,255);
}
.row__title span {
  font-size: 0.8rem;
  color: rgb(100,100,100);
}

.row__category {
  font-size: 0.7rem;
  color: rgb(200,200,200);
  text-align: right;
  line-height: 180%;
  width: 8%;  
  border-bottom:1px solid rgb(200, 134, 0);
}

/*
  --- FOOTER ---
*/

.footer {
  display: grid;
  grid-area: 3 / 1 / 4 / 4;
  background: rgba(9,9,9,0);
  grid-template: 1fr / 3fr 1fr 3fr;
  justify-self: center;
  margin-left: 0.4%;
  width: 92.4%;
}

.home__scrolltip {
  grid-area: 1 / 2 / 2 / 3;
  place-self: center center;
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  background:;
  height: 100%;
}

.scroll__text {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center center;
  color: rgb(200,200,200);
  font-size: 0.8rem;
  background: ;
}

.scrolltip__area {
  grid-area: 2 / 1 / 3 / 2;
  place-self: start center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: ;
}

.scrolltip__mouse {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 3px;
  width: 18px;
  height: 28px;
  border-radius: 50px;
  background: rgba(90,90,90,1);
  animation: updown 1000ms alternate infinite;
  animation-timing-function: linear;
}

.mouse__wheel {
  margin-top: 6px;
  width: 2px;
  height: 4px;
  background: rgb(0,0,0);
}

.mouse__arrow {
  grid-area: 2 / 1 / 3 / 2;
  place-self: center center;
  color: rgb(90,90,90);
  transform: scaleX(1.5);
}

@keyframes updown {
  from {margin-top: 0px; opacity: 1;}
  to {margin-top: 15px; opacity: 1;}
}


/*
.footer__plus {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start start;
  margin-top: 0px;
  display: ;
  color: rgb(200,200,200);
  font-size: 1rem;
}
.footer__plus2 {
  grid-area: 1 / 3 / 2 / 4;
  place-self:start end;
  margin-top: 0px;
  display: ;
  color: rgb(200,200,200);
  font-size: 1rem;
}
.user__search {
  grid-area: 1 / 2 / 2 / 3;
  place-self: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(100,100,100);
  border-radius: 100%;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%; 
  border-radius: 100%;
  background: rgb(120,120,120);
  color: rgb(120,120,120);
  font-size: 0.8rem;
  border:none;
  outline: none;
  animation: fade 2s alternate infinite;
}

.search__name {
  grid-area: 2 / 2 / 3 / 3;
  place-self: start center;
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: rgba(150,150,150,1);
  text-align: center;
  background: rgb(0,0,0,0);
  border: none;
  outline: none;
  opacity: 1;
  z-index: 2;
}

.search__name::placeholder{
  color: rgba(60,60,60,1);
}

@keyframes fade {
  0% {background: rgb(20,20,20)}
  70% {background: rgb(120,120,120)}
  100% {background: rgb(120,120,120)}
}
*/
.footer__github {
  grid-area: 1 / 1 / 2 / 2;
  place-self:end start;
  margin-left: 15%;
  color: rgb(150,150,150);
  font-size: 2rem;
  display: none;
}

.hide {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}
