@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');

html, body{
  overflow: hidden;
}

p {font: normal 12px/1.5 titillium web}

h3, h4, h5 {
  font-weight: lighter;
  font-family: 'Rajdhani';
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

h1, input {
  font-weight: normal;
  font-family: 'Rajdhani';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h2 {
  font-weight: 600;
  font-family: 'Rajdhani';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 500px){
html{
  font-size: 11px!important;
}

.pat {
  bottom: 18%;
  left: 5.5%;
  width: 90%;
}

/*.header__menu h1 {
  display: none;
}*/

.data__lang {
  margin-left: 0;
}

.graph__data {
  height: 50%;
  margin-top: 0;
}

.graph__rank {
  width: 90%;
}

.rank__percent {
  margin-top: 4px;
  margin-bottom: 4px;
}

}
/*
@media screen and (min-width: 500px){
  html{
    font-size: 11px!important;
  }
  
  .pat {
    bottom: 18%;
    left: 5.5%;
    width: 90%;
  }
  
  .header__menu h1 {
    display: none;
  }
  
  .data__lang {
    margin-left: 0;
  }
  
  .graph__data {
    height: 50%;
    margin-top: 0;
  }
  
  .graph__rank {
    width: 90%;
  }
  
  .rank__percent {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  }
*/
@media screen and (min-width: 1000px){
html{
  font-size: 13px!important;
}
}