@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');

html, body{
  overflow: hidden;
}

p {font: normal 12px/1.5 'source sans pro'}

h1, input {
  font-weight: 600;
  font-family: 'source sans pro';
}

h2, span {
  font-weight: 500;
  font-family: 'source sans pro';
}

h3 {
  font-weight: 400;
  font-family: 'source sans pro';
}

h4, h5 {
  font-weight: 300;
  font-family: 'source sans pro';
}


@media screen and (max-width: 500px){
html{
  font-size: 11px!important;
}

.pat {
  bottom: 18%;
  left: 5.5%;
  width: 90%;
}

/*.header__menu h1 {
  display: none;
}*/

.data__lang {
  margin-left: 0;
}

.graph__data {
  height: 50%;
  margin-top: 0;
}

.graph__rank {
  width: 90%;
}

.rank__percent {
  margin-top: 4px;
  margin-bottom: 4px;
}

}
/*
@media screen and (min-width: 500px){
  html{
    font-size: 11px!important;
  }
  
  .pat {
    bottom: 18%;
    left: 5.5%;
    width: 90%;
  }
  
  .header__menu h1 {
    display: none;
  }
  
  .data__lang {
    margin-left: 0;
  }
  
  .graph__data {
    height: 50%;
    margin-top: 0;
  }
  
  .graph__rank {
    width: 90%;
  }
  
  .rank__percent {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  }
*/
@media screen and (min-width: 1000px){
html{
  font-size: 13px!important;
}
}